html,body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.header {
    width: 100%;
    padding: 5px 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
}

.header img {
    height: 27px;
}

.header__search input {
    padding: 5px 20px;
    border-radius: 2px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__nav--auth button {
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.header__nav--list-first a {
    text-decoration: none;
    color: #ffffff;
}

.header__nav--mypage {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.header__nav--sell {
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    padding: 3px 15px;
    border-radius: 2px;
}

.header__nav--sell a {
    text-decoration: none;
}

@media screen and (min-width: 1400px) {
    .header img {
        height: 40px;
    }

    .header__search input {
        width: 300px;
    }

    .header__nav {
        gap: 20px;
    }

    .header__nav--auth button,
    .header__nav--mypage,
    .header__nav--sell {
        font-size: 20px;
    }
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.form__group {
    margin-bottom: 20px;
    
}

.form__label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.form__input {
    width: 100%;
    padding: 15px 8px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 2px;
}

.form__error {
    margin-top: 4px;
    font-size: 14px;
    color: #ffffff;
    background-color: #f05550;
}

.btn {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #f05550;
    color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}