.item-detail {
    display: flex;
    gap: var(--space-xxl);
    margin: var(--space-xxl) auto;
    align-items: flex-start;
}

.item-detail__left {
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}

.item-detail__left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #f5f5f5;
}

.item-detail__right {
    width: 50%;
}

.item-detail__right h1 {
    font-size: var(--font-xxl);
    margin: 0;
}

@media screen and (max-width: 850px) {
    .item-detail {
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
        margin: var(--space-m);
    }

    .item-detail__left,
    .item-detail__right {
        width: 100%;
    }

}

.item-brand {
    font-size: var(--font-m);
    margin: var(--space-xs) 0 var(--space-m);
}

.item-price {
    font-size: var(--font-xl);
    margin: 0;
}

.item-price span {
    font-size: var(--font-l);
}

.item-action__group {
    display: flex;
    gap: var(--space-xl);
    margin: var(--space-m) 0 var(--space-m) var(--space-l);
}

.item-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-action img {
    width: 40px;
    height: 40px;
}

.item-action span {
    font-size: var(--font-m);
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.form__error {
    color: #ffffff;
    margin-top: 4px;
    background-color: #f05550;
}

.btn {
    display: block;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #f05550;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-buy {
    font-size: var(--font-m);
}

.btn-buy__sold {
    cursor: not-allowed;
}

.item-group__sold {
    position: absolute;
    top: var(--space-s);
    left: -50%;
    width: 200%;
    font-size: var(--font-l);
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #ca0f0f;
    padding: var(--space-s) 0;
    letter-spacing: 0.15em;
    transform: rotate(-45deg);
    z-index: 10;
}

.item-detail__right h2 {
    font-size: var(--font-xl);
    margin: var(--space-l) 0;
}

.item-explain {
    font-size: var(--font-m);
    margin: 0;
}

.item-info {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
}

.item-info__title {
    font-size: var(--font-m);
    font-weight: bold;
    margin: var(--space-xs) 0;
}

.item-info__categories {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
}

.item-info__category {
    font-size: var(--font-s);
    background-color: #ccc;
    padding: var(--space-xs) var(--space-s);
    border-radius: 25px;
}

.item-info__value {
    font-size: var(--font-s);
    margin-left: var(--space-s);
}

.comment {
    color: #888;
}

.comment__group {
    margin-top: var(--space-m);
}

.comment__header {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.comment__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment__body {
    margin-top: var(--space-xs);
    padding: var(--space-xs);
    background-color: #ccc;
    border-radius: 2px;
}

textarea[name="detail"] {
    width: 100%;
    min-height: 180px;
    box-sizing: border-box;
    padding: var(--space-xs);
}