.mypage-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-xxl);
}

.mypage-user {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.mypage-user__image-wrap {
    width: 80px;
    aspect-ratio: 1/1;
    background-color: #888;
    border-radius: 50%;
    overflow: hidden;
}

.mypage-user__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage-user__name {
    font-size: var(--font-xl);
    font-weight: bold;
}

.mypage-link {
    display: inline-block;
    color: #f05550;
    font-weight: bold;
    text-decoration: none;
    padding: var(--space-xs) var(--space-s);
    background-color: #fff;
    border: 1px solid #f05550;
    border-radius: 5px;
}

.mypage-link:hover {
    background-color: #f05550;
    color: #fff;
}

.mypage-head {
    padding: var(--space-l) 0 var(--space-xs);
    width: 100%;
}

.mypage-head__inner {
    display: flex;
    gap: var(--space-l);
    padding-inline: var(--space-l);
}

.mypage__tab {
    font-size: var(--font-m);
    color: #333;
    text-decoration: none;
}

.mypage__tab.is-active {
    font-weight: bold;
    color: #ca0f0f;
}

.mypage-search__result {
    margin: 0;
}

.mypage-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-xl);
    padding: var(--space-xl);
    border-top: 3px solid gray;
}

/* 768~850px */
@media screen and (max-width: 850px) {
    .mypage-profile {
        flex-direction: column;
        gap: var(--space-l);
    }

    .mypage-head__inner {
        padding-inline: var(--space-m);
    }

    .mypage-main {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-m);
        padding: var(--space-m);
        border-top: 3px solid gray;
    }
}

.item-group {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.item-group__image-wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: whitesmoke;
    overflow: hidden;
}

.item-group__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-group__name {
    font-size: var(--font-l);
    text-align: left;
    margin-top: var(--space-xs);
}

.item-group__sold {
    position: absolute;
    top: var(--space-s);
    left: -50%;
    width: 200%;
    font-size: var(--font-l);
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #ca0f0f;
    padding: var(--space-s) 0;
    letter-spacing: 0.15em;
    transform: rotate(-45deg);
    z-index: 10;
}