.register-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.register-form__heading {
    text-align: center;
    margin-bottom:20px;
}

@media screen and (min-width: 1400px) {
    .register-form {
        max-width: 480px;
    }

    .form__label,
    .form__input,
    .btn {
        font-size: 16px;
    }
}