/* ===== プロフィール =====*/
.container--profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-xxl);
}

.profile-user {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.profile-user__image {
    width: 80px;
    aspect-ratio: 1/1;
    background-color: #888;
    border-radius: 50%;
    overflow: hidden;
}

.profile-user__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-user__name {
    font-size: var(--font-xl);
    font-weight: bold;
}

.profile-action__edit-link {
    display: inline-block;
    color: #f05550;
    font-weight: bold;
    text-decoration: none;
    padding: var(--space-xs) var(--space-s);
    background-color: #fff;
    border: 1px solid #f05550;
    border-radius: 5px;
}

.profile-action__edit-link:hover {
    background-color: #f05550;
    color: #fff;
}

/* 768~850px */
@media screen and (max-width: 850px) {
    .container--profile {
        flex-direction: column;
        gap: var(--space-l);
    }
}



/* ===== プロフィール編集 =====*/
.profile-form__image-group {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-m);
}

.profile-form__image {
    width: 80px;
    aspect-ratio: 1/1;
    background-color: #888;
    border-radius: 50%;
    overflow: hidden;
}

.profile-form__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-form__image-btn {
    display: inline-block;
    font-size: var(--font-s);
    color: #f05550;
    margin-left: var(--space-m);
    padding: var(--space-xs) var(--space-s);
    background-color: #fff;
    border: 1px solid #f05550;
    border-radius: 5px;
    cursor: pointer;
}

.profile-form__image-btn:hover {
    color: #fff;
    background-color: #f05550;
}

.profile-form__image-input {
    display: none;
}

@media screen and (max-width: 850px) {
    .profile-form__image-group {
        flex-direction: column;
        align-items: center;
        gap: var(--space-l);
    }

    .profile-form__image-btn {
        margin: 0;
    }
}